USE [BlindBox]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/26/2025 11:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/26/2025 11:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](255) NOT NULL,
	[series] [nvarchar](100) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[imageUrl] [varchar](255) NOT NULL,
	[categoryID] [int] NULL,
	[createDate] [datetime] NOT NULL,
	[lastUpdateDate] [datetime] NULL,
	[lastUpdateUser] [varchar](50) NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductInventory]    Script Date: 3/26/2025 11:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create a view for product inventory
CREATE VIEW [dbo].[vw_ProductInventory] AS
SELECT 
    p.productID,
    p.productName,
    p.series,
    c.categoryName,
    p.price,
    p.quantity AS StockQuantity,
    p.imageUrl,
    p.status
FROM Products p
JOIN Categories c ON p.categoryID = c.categoryID
WHERE p.status = 1;
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/26/2025 11:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[fullName] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[role] [varchar](10) NOT NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/26/2025 11:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [varchar](50) NULL,
	[orderDate] [datetime] NOT NULL,
	[totalAmount] [decimal](10, 2) NOT NULL,
	[customerName] [nvarchar](100) NOT NULL,
	[customerEmail] [varchar](100) NOT NULL,
	[customerPhone] [varchar](20) NOT NULL,
	[customerAddress] [nvarchar](255) NOT NULL,
	[paymentMethod] [varchar](20) NOT NULL,
	[paymentStatus] [varchar](20) NOT NULL,
	[orderStatus] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 3/26/2025 11:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[orderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderSummary]    Script Date: 3/26/2025 11:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create a view for order summary
CREATE VIEW [dbo].[vw_OrderSummary] AS
SELECT 
    o.orderID,
    o.orderDate,
    o.totalAmount,
    o.customerName,
    o.customerEmail,
    o.paymentMethod,
    o.paymentStatus,
    o.orderStatus,
    COUNT(od.productID) AS TotalItems,
    u.userID,
    u.fullName AS UserFullName
FROM Orders o
LEFT JOIN Users u ON o.userID = u.userID
JOIN OrderDetails od ON o.orderID = od.orderID
GROUP BY 
    o.orderID,
    o.orderDate,
    o.totalAmount,
    o.customerName,
    o.customerEmail,
    o.paymentMethod,
    o.paymentStatus,
    o.orderStatus,
    u.userID,
    u.fullName;
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([categoryID], [categoryName], [description]) VALUES (1, N'Labubu Classic', N'Original Labubu collectible blind box figures')
INSERT [dbo].[Categories] ([categoryID], [categoryName], [description]) VALUES (2, N'Labubu Halloween', N'Halloween special edition Labubu figures')
INSERT [dbo].[Categories] ([categoryID], [categoryName], [description]) VALUES (3, N'Labubu Winter', N'Winter and holiday themed Labubu figures')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([orderDetailID], [orderID], [productID], [quantity], [price]) VALUES (1, 1, 1, 1, CAST(29.99 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([orderDetailID], [orderID], [productID], [quantity], [price]) VALUES (2, 1, 2, 1, CAST(29.99 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([orderDetailID], [orderID], [productID], [quantity], [price]) VALUES (3, 2, 7, 1, CAST(34.99 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([orderID], [userID], [orderDate], [totalAmount], [customerName], [customerEmail], [customerPhone], [customerAddress], [paymentMethod], [paymentStatus], [orderStatus]) VALUES (1, NULL, CAST(N'2025-03-10T10:15:30.000' AS DateTime), CAST(59.98 AS Decimal(10, 2)), N'Anna Nguyen', N'anna@gmail.com', N'0337279741', N'FPT HCM', N'PAYPAL', N'COMPLETED', N'DELIVERED')
INSERT [dbo].[Orders] ([orderID], [userID], [orderDate], [totalAmount], [customerName], [customerEmail], [customerPhone], [customerAddress], [paymentMethod], [paymentStatus], [orderStatus]) VALUES (2, NULL, CAST(N'2025-03-11T14:22:45.000' AS DateTime), CAST(34.99 AS Decimal(10, 2)), N'Binh Tran', N'binh@gmail.com', N'0337279742', N'FPT HCM', N'CASH', N'PENDING', N'PROCESSING')
INSERT [dbo].[Orders] ([orderID], [userID], [orderDate], [totalAmount], [customerName], [customerEmail], [customerPhone], [customerAddress], [paymentMethod], [paymentStatus], [orderStatus]) VALUES (3, NULL, CAST(N'2025-03-12T16:30:10.000' AS DateTime), CAST(69.98 AS Decimal(10, 2)), N'Cuong Le', N'cuong@gmail.com', N'0337279743', N'FPT HCM', N'CREDIT_CARD', N'COMPLETED', N'SHIPPED')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([productID], [productName], [series], [description], [price], [quantity], [imageUrl], [categoryID], [createDate], [lastUpdateDate], [lastUpdateUser], [status]) VALUES (1, N'Labubu Original Blue', N'Classic', N'Original blue Labubu figure with classic design', CAST(29.99 AS Decimal(10, 2)), 50, N'assets/images/labubu-original-blue.jpg', 1, CAST(N'2025-01-15T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Products] ([productID], [productName], [series], [description], [price], [quantity], [imageUrl], [categoryID], [createDate], [lastUpdateDate], [lastUpdateUser], [status]) VALUES (2, N'Labubu Original Red', N'Classic', N'Original red Labubu figure with classic design', CAST(29.99 AS Decimal(10, 2)), 45, N'assets/images/labubu-original-red.jpg', 1, CAST(N'2025-01-15T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Products] ([productID], [productName], [series], [description], [price], [quantity], [imageUrl], [categoryID], [createDate], [lastUpdateDate], [lastUpdateUser], [status]) VALUES (3, N'Labubu Original Green', N'Classic', N'Original green Labubu figure with classic design', CAST(29.99 AS Decimal(10, 2)), 40, N'assets/images/labubu-original-green.jpg', 1, CAST(N'2025-01-15T00:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[Users] ([userID], [password], [fullName], [email], [phone], [address], [role], [status]) VALUES (N'admin', N'111111', N'Administrator', N'admin@blindboxstore.com', N'1234567890', N'Admin Address', N'ADMIN', 1)
INSERT [dbo].[Users] ([userID], [password], [fullName], [email], [phone], [address], [role], [status]) VALUES (N'user1', N'222222', N'Quoc Bao', N'quocbao@gmail.com', N'0987654320', N'User Address', N'USER', 1)
INSERT [dbo].[Users] ([userID], [password], [fullName], [email], [phone], [address], [role], [status]) VALUES (N'user2', N'333333', N'Tuan Anh', N'tuananh@gmail.com', N'0987654321', N'User Address', N'USER', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164B1B900EA]    Script Date: 3/26/2025 11:47:26 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [orderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('PROCESSING') FOR [orderStatus]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[Orders] ([orderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[Categories] ([categoryID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([orderStatus]='CANCELLED' OR [orderStatus]='DELIVERED' OR [orderStatus]='SHIPPED' OR [orderStatus]='PROCESSING'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([paymentMethod]='CREDIT_CARD' OR [paymentMethod]='CASH' OR [paymentMethod]='PAYPAL'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([paymentStatus]='REFUNDED' OR [paymentStatus]='FAILED' OR [paymentStatus]='COMPLETED' OR [paymentStatus]='PENDING'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='USER' OR [role]='ADMIN'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrderDetails]    Script Date: 3/26/2025 11:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Get Order Details by Order ID
CREATE PROCEDURE [dbo].[sp_GetOrderDetails]
    @orderID INT
AS
BEGIN
    SELECT 
        od.orderDetailID,
        od.orderID,
        p.productName,
        od.quantity,
        od.price
    FROM OrderDetails od
    JOIN Products p ON od.productID = p.productID
    WHERE od.orderID = @orderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductDetails]    Script Date: 3/26/2025 11:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Get Product Details by ID
CREATE PROCEDURE [dbo].[sp_GetProductDetails]
    @productID INT
AS
BEGIN
    SELECT 
        p.productID,
        p.productName,
        p.series,
        p.description,
        p.price,
        p.quantity,
        p.imageUrl,
        c.categoryName,
        p.createDate,
        p.lastUpdateDate,
        p.lastUpdateUser,
        p.status
    FROM Products p
    JOIN Categories c ON p.categoryID = c.categoryID
    WHERE p.productID = @productID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRevenueReport]    Script Date: 3/26/2025 11:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Get Revenue Report by Date Range
CREATE PROCEDURE [dbo].[sp_GetRevenueReport]
    @startDate DATE,
    @endDate DATE
AS
BEGIN
    SELECT 
        o.orderDate,
        SUM(o.totalAmount) AS totalRevenue
    FROM Orders o
    WHERE o.orderDate BETWEEN @startDate AND @endDate
    AND o.paymentStatus = 'COMPLETED'
    GROUP BY o.orderDate
    ORDER BY o.orderDate ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserDetails]    Script Date: 3/26/2025 11:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Get User Details by ID
CREATE PROCEDURE [dbo].[sp_GetUserDetails]
    @userID VARCHAR(50)
AS
BEGIN
    SELECT 
        userID,
        fullName,
        email,
        phone,
        address,
        role,
        status
    FROM Users
    WHERE userID = @userID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOrderStatus]    Script Date: 3/26/2025 11:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Update Order Status
CREATE PROCEDURE [dbo].[sp_UpdateOrderStatus]
    @orderID INT,
    @orderStatus VARCHAR(20)
AS
BEGIN
    UPDATE Orders
    SET orderStatus = @orderStatus
    WHERE orderID = @orderID;
END;
GO
