/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 24, 2025, 7:32:56 AM
    Author     : Legiathinh
*/
@font-face{
    font-family: 'font1';
    src: url(../assets/font/1FTV-VIP-Yesteryear.ttf);
}
@font-face{
    font-family: 'font2';
    src: url(../assets/font/MJ-HolidayMaria-Regular-1.ttf);
}
@font-face{
    font-family: 'font3';
    src: url(../assets/font/TF-Fish-Catcher-atzeev.otf);
}

body {
    background-color: #EEE0E5; 
    margin: 0;
    padding: 0;
}
.navbar {
   font-family: 'font1', sans-serif;
    background-color: palevioletred; 
    font-size: 25px ;
}
.navbar-brand,
.nav-link {
    color: #FCEAB3 !important;
}
.navbar-brand{
    font-size: 3rem !important;
    color : #B0E0E6 !important;
}
.nav-link:hover {
    color: #B0E0E6 !important; 
}
.product {
    background-color: #FAEBD7;
    padding: 20px;
}

.card {
   
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.form-label-title {
    font-family: 'font3', sans-serif !important ;
    font-size: 3.5rem;
}
.form-label{
     font-family: 'font2', sans-serif !important ;
     font-size: 2.5rem;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}

.card-text {
    font-size: 0.95rem;
    color: #666;
}

.card-subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: #007bff;
}
.button-add-to-cart.btn-primary {
    background-color: #f0ad4e !important;
    border-color: #f0ad4e !important;
    color: #fff !important;
}

.button-add-to-cart.btn-primary:hover {
    background-color: #ec971f !important;
    border-color: #ec971f !important;
}